SLACK_USER_ID=U0000000000
SLOPERATOR_SLACK_BOT_TOKEN=xoxb-replace-me
SLOPERATOR_SLACK_BOT_SOCKET_TOKEN_ID=xapp-replace-me

# Optional
SLOPERATOR_HOST=127.0.0.1
SLOPERATOR_PORT=8080
SLOPERATOR_LOG_LEVEL=INFO
